/*------------- Seleccionar imágenes del producto -------------*/
#dashboard #box .wrapper .container-select-multiple-product-images>label {
  height: 300px;
  border: 2px dashed var(--theme-opacity-200);
}

#dashboard #box .wrapper .ant-select-multiple .ant-select-selection-item {
  border: 1px solid var(--theme-opacity-300);
}

#dashboard #box .wrapper .ant-select-multiple .ant-select-selection-item-remove {
  display: flex;
  align-items: center;
}

#dashboard #box .wrapper .ant-select-multiple .ant-select-selection-item .anticon-close,
#dashboard #box .wrapper .ant-select-multiple .ant-select-selection-item,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-format,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-size {
  color: var(--bg-gray-200);
}

#dashboard #box .wrapper .ant-select-multiple .ant-select-selection-item,
#dashboard #box .wrapper .container-select-multiple-product-images>label,
#dashboard #box .wrapper .product-categories .ant-select-selector {
  background-color: var(--theme-opacity-100);
}

/*------------- Imágenes del producto -------------*/
#dashboard #box .wrapper .product-images,
#dashboard #box .wrapper .select-product-images {
  margin-top: 2em;
  margin-bottom: 2em;
}

#dashboard #box .wrapper .product-images::-webkit-scrollbar {
  width: 4px;
  padding-left: 1em;
}

#dashboard #box .wrapper .product-images .container-product-image {
  height: 300px;
  border-radius: 4px;
}

#dashboard #box .wrapper .product-images .container-product-image .image {
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#dashboard #box .wrapper .product-images .container-product-image:hover .image-actions {
  display: flex;
}

#dashboard #box .wrapper .product-images .container-product-image .image-actions {
  top: 3%;
  right: 4%;
  display: none;
  width: 35%;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name {
  line-height: 1.35;
  color: var(--theme-opacity-200)
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-format {
  border-bottom: 1px solid var(--theme-opacity-200)
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions {
  border-right: 1px solid var(--theme-opacity-200)
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-format,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name {
  border-top: 1px solid var(--theme-opacity-200)
}

#dashboard #box .wrapper .product-images .container-product-image {
  border: 1px solid var(--theme-opacity-200);
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name {
  overflow-y: scroll;
  overflow-x: hidden;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details {
  width: 100%;
  text-align: center;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 31px;
  overflow-y: auto;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name::-webkit-scrollbar {
  width: 3px;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-format {
  width: 100%;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-size {
  width: 50%;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-name,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-format,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-size {
  padding: 4px 0;
}

#dashboard #box .wrapper .product-images .container-product-image .image-details .image-format,
#dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-size {
  font-size: .85em;
}

/*------------- Campos del formulario -------------*/
#dashboard #box .wrapper .form-field-container.products .fields-group {
  position: relative;
  transition: all linear;
}

#dashboard #box .wrapper .form-field-container.products .fields-group.exist-errors {
  margin-bottom: 3em;
  position: relative;
}

#dashboard #box .wrapper .form-field-container.products .fields-group .field-1 {
  width: 70%;
}

#dashboard #box .wrapper .form-field-container.products .fields-group .field-2 {
  width: 28%;
}

#dashboard #box .wrapper .form-field-container.products .fields-group .error-message {
  position: absolute;
}

#dashboard #box .wrapper .form-field-container.products .error-message {
  margin: 12px 0 !important;
}

/*------------- Categorias -------------*/
#dashboard #box .wrapper .product-categories {
  overflow-y: auto;
  height: 40px;
  max-height: 100px;
}

#dashboard #box .wrapper .product-categories::-webkit-scrollbar {
  width: 4px;
}

/*------------- Media queries -------------*/
@media (max-width: 768px) {
  #dashboard #box .wrapper .product-images {
    margin-top: 2.5em;
  }
  
  #dashboard #box .wrapper .select-product-images {
    margin-top: 3em;
  }

  #dashboard #box .wrapper .form-field-container.products .fields-group .field-1,
  #dashboard #box .wrapper .form-field-container.products .fields-group .field-2 {
    width: 100%;
  }

  #dashboard #box .wrapper .form-field-container.products .fields-group .error-message {
    position: relative;
  }

  #dashboard #box .wrapper .product-images .container-product-image .image-details .image-format, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-dimensions, #dashboard #box .wrapper .product-images .container-product-image .image-details .image-size {
    font-size: 1em;
  }

  #dashboard #box .wrapper .product-images .container-product-image .image-actions {
    width: 20%;
  }
}

@media (max-width: 575px) {
  #dashboard #box .form-field-container .ant-col {
    margin: auto;
  }
}

@media (min-width: 541px) {
  #dashboard #box .wrapper .select-product-images {
    gap: 15px;
  }
}

@media (max-width: 450px) {
  #dashboard #box .form-field-container .ant-col-xs-17 {
    flex: 0 0 78.83333333%;
    max-width: 78.83333333%;
  }
}

@media (max-width: 350px) {
  #dashboard #box .form-field-container .ant-col-xs-17 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
